*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --principal: #1e3a8a;
    --secundaria: #3b82f6;
    --status-concluido: #22c55e;
    --status-pendente: #eab308;
    --status-andamento: #0ea5e9;
    --fundo: #ffffff;
    --fundo-2: #e3e4e8;
    --texto-principal: #111827;
}

body{
    background-color: var(--fundo-2);
}

/* HEADER */
header{
    background-color: var(--secundaria);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header img{
    width: 100px;
}

header h1{
    color: var(--fundo);
}

/* CONTAINER */
.container{
    background-color: var(--fundo);
    max-width: 90%;
    height: 100vh;
    margin: auto;
    padding: 10px;
}

/* NOVO SERVIÇO BTN */
#novo-servico-container{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

#novo-servico-container button{
    width: 100%;
    background-color: var(--principal);
    color: var(--fundo);
    border: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
}

/* PAINEL */
#painel{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

#painel #servicos-hoje,
#painel #servicos-concluidos{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin-bottom:15px;
    padding: 10px;
    font-weight: bold;
}

#painel #servicos-hoje{
    background-color: var(--fundo-2);
}

#painel #servicos-concluidos{
    background-color: var(--status-concluido);
    color: var(--fundo);
}

/* FILTROS */
#btns{
    display: flex;
    justify-content: space-between;
}

#btns button{
    background-color: var(--fundo);
    color: var(--texto-principal);
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#btns button:hover{
    background-color: var(--principal);
    border-radius: 8px;
    color: var(--fundo);
    transition: .3s;
}

/* LISTA */
#lista-agendamentos{
    display: flex;
    flex-direction: column;
}

.cliente{
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

/* CORES POR STATUS */
.cliente.pendente {
    background-color: var(--status-pendente);
}

.cliente.andamento {
    background-color: var(--status-andamento);
}

.cliente.concluido {
    background-color: var(--status-concluido);
}

/* FORM NOVO SERVIÇO */
.novoServ{
    background-color: var(--principal);
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container-campo{
    display: flex;
    flex-direction: column;
}

/* labels principais */
.container-campo > label{
    font-weight: bold;
    margin-top: 15px;
}

/* inputs */
.novoServ input[type="text"],
.novoServ input[type="time"]{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
}

/* radios organizados */
.novoServ div:has(input[type="radio"]){
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.novoServ input[type="radio"]{
    margin-right: 5px;
}

/* BOTÕES */
.btnAdd {
    background-color: var(--status-concluido);
    color: var(--fundo);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
}

.btnFecharContainer{
    background-color: transparent;
    color: var(--fundo);
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* RESPONSIVO */
@media (min-width: 768px){
    header, .container{
        max-width: 50%;
        width: 50%;
        margin: auto;
        border-left: 1px solid #1e3a8a;
        border-right: 1px solid #1e3a8a;
    }
}