*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --principal: #1e3a8a;
    --secundaria: #3b82f6;
    --status-concluido: #22c55e;
    --status-pendente: #eab308;
    --status-andamento: #0ea5e9;
    --fundo: #ffffff;
    --fundo-2: #e3e4e8;
    --texto-principal: #111827;
}

header{
    background-color: var(--secundaria);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header img{
    width: 100px;
}

header h1{
    color: var(--fundo);
}

#novo-servico-container{
    margin: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 90%;
    margin: auto;
}

#novo-servico-container button{
    width: 100%;
    background-color: var(--principal);
    color: var(--fundo);
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
}

#painel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

#painel #servicos-hoje,
#painel #servicos-concluidos{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin-bottom:15px;
    padding: 10px;
    font-weight: bold;
}

#painel #servicos-hoje{
    background-color: var(--fundo-2);
    color: black;
}

#painel #servicos-concluidos{
    background-color: var(--status-concluido);
    color: var(--fundo);
}

#btns{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#btns button{
    background-color: var(--fundo);
    color: var(--texto-principal);
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px;
}

#btns button:hover{
    background-color: var(--principal);
    border-radius: 8px;
    color: var(--fundo);
    transition: .5s ease;
}

#lista-agendamentos{
    display: flex;
    flex-flow: column nowrap;
}

.cliente{
    background-color: var(--status-pendente);
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
}

#btnAddServico{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#btnAddServico button{
    background-color: var(--status-concluido);
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--fundo);
    font-weight: bold;
    padding: 10px 15px;
    font-size: 28px;
}